html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#cesiumContainer {
  height: 100%;
}

body.highlight {
    opacity: 50%
}

video.content,
picture.content,
div.content {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    display: flex;
}

div.content img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#pilot {
    position: absolute;
    top: 5px;
    right: 80px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    line-height: 16pt;
}

/* Stuff that displays above videos */
.cesium-viewer-toolbar,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-fullscreenContainer,
#pilot
{
    z-index: 20;
}

/* Make the timeline highlight more visible, albeit imprecise */
.cesium-timeline-highlight {
    border-left: 2px solid white;
    border-right: 2px solid white;
}
