.cesium-toolbar-button {
    padding: 3px !important;
}

.cesium-toolbar-button.toggled {
    border: 2px solid #48b;
    background-color: #245;
}

.cesium-toolbar-button svg {
    display: block;
    margin: auto;
}
