html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: black;
}

#cesiumContainer {
  height: 100%;
}

body.highlight {
    opacity: 50%
}

video.content,
picture.content,
div.content {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    display: flex;
}

div.content img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#pilot,
#open-button,
#save-button,
#add-button {
    position: absolute;
    top: 5px;
    height: 20px;
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 16pt;
    padding: 5px 7px;
}

#pilot {
    right: 270px;
    font-weight: bold;
}

#open-button {
    color: white;
    right: 228px;
    font-weight: bold;
}

#save-button {
    color: white;
    right: 190px;
}

#add-button {
    color:white;
    right: 156px;
    font-weight: bold;
    font-size: 16pt;
    line-height: 14pt;
}

#file-upload,
#file-add {
    display: none;
}

/* Stuff that displays above videos */
.cesium-viewer-toolbar,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-fullscreenContainer,
.cesium-button
{
    z-index: 20;
}

/* Make the timeline highlight more visible, albeit imprecise */
.cesium-timeline-highlight {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.cesium-viewer-infoBoxContainer {
    display: none !important;
}

/* Extra help to include */
#extra-help {
    display: none;
}

.navigation-help-drop {
    color: #E67E22;
    font-weight: bold;
}

.display-help {
    visibility: hidden;
    position: absolute;
    top: 38px;
    right: 2px;
    width: 250px;
    border-radius: 10px;
    transform: scale(0.01);
    transform-origin: 234px -10px;
    transition: visibility 0s 0.25s, transform 0.25s ease-in;
}

/* Loading spinner */
#spinner {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 20px;
  z-index: 30;
}
.lds-ring {
  color: white;
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
